



    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Is It A Banger?</h1>
                        
                        <%= form_tag "/search_echonest", method: "post", :class => "form-inline" do %>
                        <div class="form-group">
						  <%#= label_tag(:song, "Song:") %>
						  <%= text_field_tag :song, nil, class: 'form-control', required: 'true', placeholder: 'Song' %>
						</div>
						<div class= "form-group">
						  <%#= label_tag(:artist, "Artist:") %>
						  <%= text_field_tag :artist, nil, class: 'form-control', required: 'true', placeholder: 'Artist' %>
						</div>
						<div class='form-group'>
						  <%= submit_tag "Search", class: 'btn btn-default' %>
						</div>
						<% end %>
				
                        <a href="#results" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="results" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            	<div class='row'>
            		<div class='col-md-12'>
            			<img src="/assets/default.png" >
            		</div>
            	</div>
            	<div class='row'>
            		<div class='col-md-12'>
            			<h1> SONG - ARTIST</h1>
            		</div>
            	</div>
            	<div class='row'>
            		<div class='col-md-12'>
            			<button class="btn btn-default">Choose</button>
            		</div>
            	</div>
            	<hr>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Grayscale</h2>
                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Start Bootstrap</h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>


