    <!-- Intro Header -->
    <header id="top" class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Is It A Banger?</h1>
                        
                        <%= form_tag "/search_echonest", method: "post", :class => "form-inline", remote: true do %>
                        <div class="form-group">
						  <%#= label_tag(:song, "Song:") %>
						  <%= text_field_tag :query, nil, class: 'form-control', required: 'true', placeholder: 'Song Search' %>
						</div>
						
						<div class='form-group'>
						  <%= submit_tag "Search", class: 'btn btn-default' %>
						</div>
						<% end %>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Results Section -->
    <!-- <section id="results" class="container content-section text-center">
    </section> -->
    <div id="results"></div>




