// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.song-show{
	padding-top: 150px;
}

.profile-img-container {
    position: relative;
    display: inline-block; /* added */
    overflow: hidden; /* added */
}

.profile-img-container:hover img {
    opacity: 0.5
}
.profile-img-container a {
    opacity: 1; /* added */
    top: 50%; /* added */
    z-index: 500;
}
/* added */
.profile-img-container a span {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    
}
/* added */
.profile-img-container a {
    display: block;
    position: absolute;
    top: -20%;
    opacity: 1;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: inherit;
}