

<!-- About Section -->
<section id="about" class="content-section text-center">
    <div class="about-section">
        <div class="container shady">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What is 'IsItABangr'?</h2>
                <p>Inspired by <a href="http://www.nbc.com/parks-and-recreation">Parks and Recreation</a>, isitabangr uses data from <a href="http://www.spotify.com/">Spotify</a>, <a href="http://the.echonest.com/">The Echonest</a> and input from you guys to determine if a song is a banger.</p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                       <a href="https://www.youtube.com/watch?v=kE6leI0VAIQ" class="btn btn-default btn-lg">Watch This Clip</a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">See Source</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Me</h2>
            <p>Feel free to email me or hit me up on Twitter with any feedback you have. This was just a fun hack project that I made for the joy of it. I'm a new programmer, so feel free to help me out over on my Github.</p>
            <p><a href="mailto:derekdapp@gmail.com">derekdapp@gmail.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/derkydApp" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/derekdapp" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="http://www.derekdapp.com" class="btn btn-default btn-lg"><i class="fa fa-globe fa-fw"></i> <span class="network-name">DEREKDAPP.COM</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>
    <!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Derek Dapp 2015</p>
    </div>
</footer>